/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* latin */
@font-face {
  font-family: 'Federant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/federant/v29/2sDdZGNfip_eirT0_X0kT0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqDx_rc-kSAEWn.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqDx_rc-ASAEWn.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqDx_rc-cSAEWn.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqDx_rc-sSAEWn.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqDx_rc-oSAEWn.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqDx_rc-QSAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqD_jsc-kSAEWn.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqD_jsc-ASAEWn.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqD_jsc-cSAEWn.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqD_jsc-sSAEWn.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqD_jsc-oSAEWn.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/geologica/v1/oY1o8evIr7j9P3TN9YwNAdyjzUyDKkKdAGOJh1UlCDUIhAIdhCZOn1fLsig7jfvCCPHZckU8H3G11_z-_OZqD_jsc-QSAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Tabular */
@font-face {
  font-family: 'Tabular';
  src: url('//cdn.fontshare.com/wf/343V3MZ5WLCKLWP7EPBJKKDZOPCKH2KS/3MIJ5S4M7JHTVR54CFDRC6FIVRBNDYQI/243MYGFACQQN6ZFKSR53HQOIVWDIHPNK.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/343V3MZ5WLCKLWP7EPBJKKDZOPCKH2KS/3MIJ5S4M7JHTVR54CFDRC6FIVRBNDYQI/243MYGFACQQN6ZFKSR53HQOIVWDIHPNK.woff') format('woff'),
       url('//cdn.fontshare.com/wf/343V3MZ5WLCKLWP7EPBJKKDZOPCKH2KS/3MIJ5S4M7JHTVR54CFDRC6FIVRBNDYQI/243MYGFACQQN6ZFKSR53HQOIVWDIHPNK.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Tabular';
  src: url('//cdn.fontshare.com/wf/6AEM5N4OSC4ZTEIW5BEJ7LGUX6T6ZQRF/MD4WE4UAZKC2SVDUIPR6TFNHPKB4UAJ5/QOBW5F6JII3U4VUNGR4RJ4N6J5BSWMSL.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/6AEM5N4OSC4ZTEIW5BEJ7LGUX6T6ZQRF/MD4WE4UAZKC2SVDUIPR6TFNHPKB4UAJ5/QOBW5F6JII3U4VUNGR4RJ4N6J5BSWMSL.woff') format('woff'),
       url('//cdn.fontshare.com/wf/6AEM5N4OSC4ZTEIW5BEJ7LGUX6T6ZQRF/MD4WE4UAZKC2SVDUIPR6TFNHPKB4UAJ5/QOBW5F6JII3U4VUNGR4RJ4N6J5BSWMSL.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Outfit */
@font-face {
  font-family: 'Outfit';
  src: url('//cdn.fontshare.com/wf/ZJWRO7FKM5ZBUEHT27BKF46RB7XYPTMZ/ARCHRLRRO3FQFSPFOALQ7MLP3RVYLQIH/MVYF4ESEAKEH43KA4UAEJXCVA2XP4RZO.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/ZJWRO7FKM5ZBUEHT27BKF46RB7XYPTMZ/ARCHRLRRO3FQFSPFOALQ7MLP3RVYLQIH/MVYF4ESEAKEH43KA4UAEJXCVA2XP4RZO.woff') format('woff'),
       url('//cdn.fontshare.com/wf/ZJWRO7FKM5ZBUEHT27BKF46RB7XYPTMZ/ARCHRLRRO3FQFSPFOALQ7MLP3RVYLQIH/MVYF4ESEAKEH43KA4UAEJXCVA2XP4RZO.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('//cdn.fontshare.com/wf/HGVZO4W7MOWSOT5FITRR2LXJL4LPEVKA/JGNFYTACJN27RPO2O5AUTRRZD4FNRJPI/W7JHARPQSG6P4YAUJKIMUM6JNAX2RFW3.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/HGVZO4W7MOWSOT5FITRR2LXJL4LPEVKA/JGNFYTACJN27RPO2O5AUTRRZD4FNRJPI/W7JHARPQSG6P4YAUJKIMUM6JNAX2RFW3.woff') format('woff'),
       url('//cdn.fontshare.com/wf/HGVZO4W7MOWSOT5FITRR2LXJL4LPEVKA/JGNFYTACJN27RPO2O5AUTRRZD4FNRJPI/W7JHARPQSG6P4YAUJKIMUM6JNAX2RFW3.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('//cdn.fontshare.com/wf/RPEPC24XXAVK6EWUOKWQUPTOZQR35AS2/BVWMEQ5ZCLZP2VOXOHXQDCZADXNFBXUF/5REHZLR2B5PQAKMITIQJK6BDK34RDHS4.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/RPEPC24XXAVK6EWUOKWQUPTOZQR35AS2/BVWMEQ5ZCLZP2VOXOHXQDCZADXNFBXUF/5REHZLR2B5PQAKMITIQJK6BDK34RDHS4.woff') format('woff'),
       url('//cdn.fontshare.com/wf/RPEPC24XXAVK6EWUOKWQUPTOZQR35AS2/BVWMEQ5ZCLZP2VOXOHXQDCZADXNFBXUF/5REHZLR2B5PQAKMITIQJK6BDK34RDHS4.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('//cdn.fontshare.com/wf/EUV6IZMPXOYBUY6KFIXKZWM47ESY5XYA/BLW2AGODUKQKRMYEVOEMMPY2ITRKBJIP/OKGWSU2PUNNFKQVFV2XFOSAHRXYREMR2.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/EUV6IZMPXOYBUY6KFIXKZWM47ESY5XYA/BLW2AGODUKQKRMYEVOEMMPY2ITRKBJIP/OKGWSU2PUNNFKQVFV2XFOSAHRXYREMR2.woff') format('woff'),
       url('//cdn.fontshare.com/wf/EUV6IZMPXOYBUY6KFIXKZWM47ESY5XYA/BLW2AGODUKQKRMYEVOEMMPY2ITRKBJIP/OKGWSU2PUNNFKQVFV2XFOSAHRXYREMR2.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src: url('//cdn.fontshare.com/wf/WAAMEHKHJC5RGH5HYZXARMZDOGNO2EWO/IMX7NRNUMJVK7YFRJRZSA3UNPLUBPYIJ/QWBFHLNJNNJC3X2PA4WN6Q2H5G7OG6MX.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/WAAMEHKHJC5RGH5HYZXARMZDOGNO2EWO/IMX7NRNUMJVK7YFRJRZSA3UNPLUBPYIJ/QWBFHLNJNNJC3X2PA4WN6Q2H5G7OG6MX.woff') format('woff'),
       url('//cdn.fontshare.com/wf/WAAMEHKHJC5RGH5HYZXARMZDOGNO2EWO/IMX7NRNUMJVK7YFRJRZSA3UNPLUBPYIJ/QWBFHLNJNNJC3X2PA4WN6Q2H5G7OG6MX.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.woff') format('woff'),
       url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff') format('woff'),
       url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff') format('woff'),
       url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff') format('woff'),
       url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* Technor */
@font-face {
  font-family: 'Technor';
  src: url('//cdn.fontshare.com/wf/JUUEBSMZVXJ6I7B3I6GNSFFSK4FCNQAP/YAJBJYJB7SLDKHW27QPSJTUI5SHEC6PO/4W3C6YEZFM46SGQOVM7ZAFLE7R7ZSH3W.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/JUUEBSMZVXJ6I7B3I6GNSFFSK4FCNQAP/YAJBJYJB7SLDKHW27QPSJTUI5SHEC6PO/4W3C6YEZFM46SGQOVM7ZAFLE7R7ZSH3W.woff') format('woff'),
       url('//cdn.fontshare.com/wf/JUUEBSMZVXJ6I7B3I6GNSFFSK4FCNQAP/YAJBJYJB7SLDKHW27QPSJTUI5SHEC6PO/4W3C6YEZFM46SGQOVM7ZAFLE7R7ZSH3W.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Technor';
  src: url('//cdn.fontshare.com/wf/NF4IWRA6PNPPIYDTGS5XRNNMVEGVLZIX/DRSFIAYLKTCDDRGPFVNKKZB2FQOWN2HB/JCAROJ7ESNRN2KMIVGFFBB2ZPRGTA24L.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/NF4IWRA6PNPPIYDTGS5XRNNMVEGVLZIX/DRSFIAYLKTCDDRGPFVNKKZB2FQOWN2HB/JCAROJ7ESNRN2KMIVGFFBB2ZPRGTA24L.woff') format('woff'),
       url('//cdn.fontshare.com/wf/NF4IWRA6PNPPIYDTGS5XRNNMVEGVLZIX/DRSFIAYLKTCDDRGPFVNKKZB2FQOWN2HB/JCAROJ7ESNRN2KMIVGFFBB2ZPRGTA24L.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Technor';
  src: url('//cdn.fontshare.com/wf/RZYHTNGMAM277HHQBAANMAMZAK2RASOJ/ZMFNEW255W5MH35ANX3VS4OA2VGPLJ6V/MRUFJCB2XBGJKEWAZRVXWUXXFT2Z7TDZ.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/RZYHTNGMAM277HHQBAANMAMZAK2RASOJ/ZMFNEW255W5MH35ANX3VS4OA2VGPLJ6V/MRUFJCB2XBGJKEWAZRVXWUXXFT2Z7TDZ.woff') format('woff'),
       url('//cdn.fontshare.com/wf/RZYHTNGMAM277HHQBAANMAMZAK2RASOJ/ZMFNEW255W5MH35ANX3VS4OA2VGPLJ6V/MRUFJCB2XBGJKEWAZRVXWUXXFT2Z7TDZ.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Technor';
  src: url('//cdn.fontshare.com/wf/2D4THMSKJGRDCBT6A6VWG4SNWKTAS3I2/KYTPQO6L7FPQHAZ4NUY6LX3ZE4BITSGS/2QZ2ZOKTT7SJC5TJNAK23KA3JCADVWDL.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/2D4THMSKJGRDCBT6A6VWG4SNWKTAS3I2/KYTPQO6L7FPQHAZ4NUY6LX3ZE4BITSGS/2QZ2ZOKTT7SJC5TJNAK23KA3JCADVWDL.woff') format('woff'),
       url('//cdn.fontshare.com/wf/2D4THMSKJGRDCBT6A6VWG4SNWKTAS3I2/KYTPQO6L7FPQHAZ4NUY6LX3ZE4BITSGS/2QZ2ZOKTT7SJC5TJNAK23KA3JCADVWDL.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* Sora */
@font-face {
  font-family: 'Sora';
  src: url('//cdn.fontshare.com/wf/5GEIVEALDZLZ3IDOL7RXBQAAQCRQVNL7/NJCRGNPK5OHZBKO77MGV3BZRMHS2NSWO/ON3D4TO4RODYPXXVC6UMBH6EMM2QEN4R.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/5GEIVEALDZLZ3IDOL7RXBQAAQCRQVNL7/NJCRGNPK5OHZBKO77MGV3BZRMHS2NSWO/ON3D4TO4RODYPXXVC6UMBH6EMM2QEN4R.woff') format('woff'),
       url('//cdn.fontshare.com/wf/5GEIVEALDZLZ3IDOL7RXBQAAQCRQVNL7/NJCRGNPK5OHZBKO77MGV3BZRMHS2NSWO/ON3D4TO4RODYPXXVC6UMBH6EMM2QEN4R.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('//cdn.fontshare.com/wf/RQNAS2PYEQW2XYBN4FVPGPE4NPGUNIHT/CH2HPQRKNZPSVXOMHBVWSBUNDK7GGI6B/LGGBMNVYFCEE4PBKR77UV5QOESITBLZC.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/RQNAS2PYEQW2XYBN4FVPGPE4NPGUNIHT/CH2HPQRKNZPSVXOMHBVWSBUNDK7GGI6B/LGGBMNVYFCEE4PBKR77UV5QOESITBLZC.woff') format('woff'),
       url('//cdn.fontshare.com/wf/RQNAS2PYEQW2XYBN4FVPGPE4NPGUNIHT/CH2HPQRKNZPSVXOMHBVWSBUNDK7GGI6B/LGGBMNVYFCEE4PBKR77UV5QOESITBLZC.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('//cdn.fontshare.com/wf/XR5REPALAPN54FEEIVU4Z7ZE3Z5TYAXV/ZVSCLT36TMKD3NSNAKQISILPVOHE4VFU/NTHDIHEFNRRDAFXF6EKGHNYZ4FA3VMWE.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/XR5REPALAPN54FEEIVU4Z7ZE3Z5TYAXV/ZVSCLT36TMKD3NSNAKQISILPVOHE4VFU/NTHDIHEFNRRDAFXF6EKGHNYZ4FA3VMWE.woff') format('woff'),
       url('//cdn.fontshare.com/wf/XR5REPALAPN54FEEIVU4Z7ZE3Z5TYAXV/ZVSCLT36TMKD3NSNAKQISILPVOHE4VFU/NTHDIHEFNRRDAFXF6EKGHNYZ4FA3VMWE.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Sora';
  src: url('//cdn.fontshare.com/wf/O6APDGOOI6KPTOYLMG2WT7AMVFBAEQQ2/YA4HXMMXHUGDD7BGRS5L5DM7AVKBZQ5D/BB6C7YWXOMIC6G7LPBRQNIGD2FKV5DQB.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/O6APDGOOI6KPTOYLMG2WT7AMVFBAEQQ2/YA4HXMMXHUGDD7BGRS5L5DM7AVKBZQ5D/BB6C7YWXOMIC6G7LPBRQNIGD2FKV5DQB.woff') format('woff'),
       url('//cdn.fontshare.com/wf/O6APDGOOI6KPTOYLMG2WT7AMVFBAEQQ2/YA4HXMMXHUGDD7BGRS5L5DM7AVKBZQ5D/BB6C7YWXOMIC6G7LPBRQNIGD2FKV5DQB.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Kihim */
@font-face {
  font-family: 'Kihim';
  src: url('//cdn.fontshare.com/wf/KOGNLTCKMHYTVPJIEQEW4B7BPUKAQGXM/XLAHRPYFN6ZW2PAIAUG3R33QFYFJN5QB/4TN7YRXJ3XQYLUTKR4IXYSO62CQLPOJO.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/KOGNLTCKMHYTVPJIEQEW4B7BPUKAQGXM/XLAHRPYFN6ZW2PAIAUG3R33QFYFJN5QB/4TN7YRXJ3XQYLUTKR4IXYSO62CQLPOJO.woff') format('woff'),
       url('//cdn.fontshare.com/wf/KOGNLTCKMHYTVPJIEQEW4B7BPUKAQGXM/XLAHRPYFN6ZW2PAIAUG3R33QFYFJN5QB/4TN7YRXJ3XQYLUTKR4IXYSO62CQLPOJO.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Excon */
@font-face {
  font-family: 'Excon';
  src: url('//cdn.fontshare.com/wf/UOR3GKGGYKSXOPARPVX2LJSFIQ5PMFIP/ALZ7XEMFCRLSTJ343FMZX7JLYI4PVW5W/PWFSX23HSOTS4S5H2EZBA72ULDLBSG3V.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/UOR3GKGGYKSXOPARPVX2LJSFIQ5PMFIP/ALZ7XEMFCRLSTJ343FMZX7JLYI4PVW5W/PWFSX23HSOTS4S5H2EZBA72ULDLBSG3V.woff') format('woff'),
       url('//cdn.fontshare.com/wf/UOR3GKGGYKSXOPARPVX2LJSFIQ5PMFIP/ALZ7XEMFCRLSTJ343FMZX7JLYI4PVW5W/PWFSX23HSOTS4S5H2EZBA72ULDLBSG3V.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* Excon */
@font-face {
  font-family: 'Excon';
  src: url('//cdn.fontshare.com/wf/442SBKTBT4TQ2VOI6Q6AHNVIHH3MPQIH/4TW7E7SF4FG3UI4XA3QGYH2ESKPLBZP7/WVXGRJSIWZMMU3GMCECSMS25K4A7IYJ6.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/442SBKTBT4TQ2VOI6Q6AHNVIHH3MPQIH/4TW7E7SF4FG3UI4XA3QGYH2ESKPLBZP7/WVXGRJSIWZMMU3GMCECSMS25K4A7IYJ6.woff') format('woff'),
       url('//cdn.fontshare.com/wf/442SBKTBT4TQ2VOI6Q6AHNVIHH3MPQIH/4TW7E7SF4FG3UI4XA3QGYH2ESKPLBZP7/WVXGRJSIWZMMU3GMCECSMS25K4A7IYJ6.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Excon';
  src: url('//cdn.fontshare.com/wf/VPCMWPB4LHJTFRQEACMCYNJKZJBXRZYP/K6MS3BP77JUDE5DYKP24M75REVZIBJFE/XC2TPU77ZSIZ763MAC5VJ3UR5CFCFBES.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/VPCMWPB4LHJTFRQEACMCYNJKZJBXRZYP/K6MS3BP77JUDE5DYKP24M75REVZIBJFE/XC2TPU77ZSIZ763MAC5VJ3UR5CFCFBES.woff') format('woff'),
       url('//cdn.fontshare.com/wf/VPCMWPB4LHJTFRQEACMCYNJKZJBXRZYP/K6MS3BP77JUDE5DYKP24M75REVZIBJFE/XC2TPU77ZSIZ763MAC5VJ3UR5CFCFBES.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Excon';
  src: url('//cdn.fontshare.com/wf/R3NZHN6TRA5YS2W64ETFLYG75RDFIQ75/6VDY32J2X4DHBKEUJ6P3M6JEHO4Y7DNQ/AIIHF6VP5NXQLXGRHLAA7UNZ4UCMUEE7.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/R3NZHN6TRA5YS2W64ETFLYG75RDFIQ75/6VDY32J2X4DHBKEUJ6P3M6JEHO4Y7DNQ/AIIHF6VP5NXQLXGRHLAA7UNZ4UCMUEE7.woff') format('woff'),
       url('//cdn.fontshare.com/wf/R3NZHN6TRA5YS2W64ETFLYG75RDFIQ75/6VDY32J2X4DHBKEUJ6P3M6JEHO4Y7DNQ/AIIHF6VP5NXQLXGRHLAA7UNZ4UCMUEE7.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Excon';
  src: url('//cdn.fontshare.com/wf/BIWQLIHJUNQAWJNLVN577F24MHF3MY3K/RDNOCBFZDTYBBOMUVZPUDO427QS3HVRB/X2THLDOFEBLY3EKHLTXTZUTM5NBVJJHA.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/BIWQLIHJUNQAWJNLVN577F24MHF3MY3K/RDNOCBFZDTYBBOMUVZPUDO427QS3HVRB/X2THLDOFEBLY3EKHLTXTZUTM5NBVJJHA.woff') format('woff'),
       url('//cdn.fontshare.com/wf/BIWQLIHJUNQAWJNLVN577F24MHF3MY3K/RDNOCBFZDTYBBOMUVZPUDO427QS3HVRB/X2THLDOFEBLY3EKHLTXTZUTM5NBVJJHA.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Excon';
  src: url('//cdn.fontshare.com/wf/BOLX2RC6B3MSAQTOFUBPTD6WTCDU26TM/HJDVQMQGHAMME7EJQJRDC2XAK2GM6OOZ/WHAJCIXXU77AIAKKE25O64UOKO42ULKP.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/BOLX2RC6B3MSAQTOFUBPTD6WTCDU26TM/HJDVQMQGHAMME7EJQJRDC2XAK2GM6OOZ/WHAJCIXXU77AIAKKE25O64UOKO42ULKP.woff') format('woff'),
       url('//cdn.fontshare.com/wf/BOLX2RC6B3MSAQTOFUBPTD6WTCDU26TM/HJDVQMQGHAMME7EJQJRDC2XAK2GM6OOZ/WHAJCIXXU77AIAKKE25O64UOKO42ULKP.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}



/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: default */
.f-text-12-16{font-size:clamp(0.75rem, 0.6620rem + 0.3756vw, 1rem);}
.f-text-16-32{font-size:clamp(1rem, 0.6479rem + 1.5023vw, 2rem);}
.f-text-32-128{font-size:clamp(2rem, -0.1127rem + 9.0141vw, 8rem);}
.f-text-32-64{font-size:clamp(2rem, 1.2958rem + 3.0047vw, 4rem);}
.f-w-250-550{width:clamp(15.625rem, 9.0229rem + 28.1690vw, 34.375rem);}
.f-w-300-500{width:clamp(18.75rem, 14.3486rem + 18.7793vw, 31.25rem);}
.f-w-5-15{width:clamp(0.3125rem, 0.0924rem + 0.9390vw, 0.9375rem);}
.f-w-500-650{width:clamp(31.25rem, 27.9489rem + 14.0845vw, 40.625rem);}
.f-h-200-250{height:clamp(12.5rem, 11.3996rem + 4.6948vw, 15.625rem);}
.f-h-5-15{height:clamp(0.3125rem, 0.0924rem + 0.9390vw, 0.9375rem);}
.f-m-42-47{margin:clamp(2.625rem, 2.5150rem + 0.4695vw, 2.9375rem);}
.visible{visibility:visible;}
.absolute{position:absolute;}
.relative{position:relative;}
.-top-50{top:-12.5rem;}
.right-5{right:1.25rem;}
.top-50{top:12.5rem;}
.top-70{top:17.5rem;}
.z-10{z-index:10;}
.z-20{z-index:20;}
.z-30{z-index:30;}
.z-40{z-index:40;}
.z-50{z-index:50;}
.mx-auto{margin-left:auto;margin-right:auto;}
.mb-12{margin-bottom:3rem;}
.me{margin-inline-end:1rem;}
.mr-6{margin-right:1.5rem;}
.mt-\[360px\]{margin-top:360px;}
.mt-32{margin-top:8rem;}
.mt-8{margin-top:2rem;}
.max-h-screen{max-height:100vh;}
.w-\[290px\]{width:290px;}
.w-screen{width:100vw;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
@keyframes ping{0%{transform:scale(1);opacity:1}75%,100%{transform:scale(2);opacity:0}}
.animate-ping{animation:ping 1s cubic-bezier(0,0,.2,1) infinite;}
.list-none{list-style-type:none;}
.content-end{align-content:flex-end;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.justify-around{justify-content:space-around;}
.gap-12{gap:3rem;}
.space-y-10>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(2.5rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(2.5rem * var(--un-space-y-reverse));}
.rounded-full{border-radius:9999px;}
.bg-black{--un-bg-opacity:1;background-color:rgb(0 0 0 / var(--un-bg-opacity)) /* #000 */;}
.bg-green-400{--un-bg-opacity:1;background-color:rgb(74 222 128 / var(--un-bg-opacity)) /* #4ade80 */;}
.bg-slate-950{--un-bg-opacity:1;background-color:rgb(2 6 23 / var(--un-bg-opacity)) /* #020617 */;}
.bg-stone-100{--un-bg-opacity:1;background-color:rgb(245 245 244 / var(--un-bg-opacity)) /* #f5f5f4 */;}
.pt-2{padding-top:0.5rem;}
.pt-8{padding-top:2rem;}
.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity)) /* #000 */;}
.text-blue-500{--un-text-opacity:1;color:rgb(59 130 246 / var(--un-text-opacity)) /* #3b82f6 */;}
.text-orange-500{--un-text-opacity:1;color:rgb(249 115 22 / var(--un-text-opacity)) /* #f97316 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.hover\:text-blue-800:hover{--un-text-opacity:1;color:rgb(30 64 175 / var(--un-text-opacity)) /* #1e40af */;}
.hover\:text-orange-800:hover{--un-text-opacity:1;color:rgb(154 52 18 / var(--un-text-opacity)) /* #9a3412 */;}
.font-bold{font-weight:700;}
.font-light{font-weight:300;}
.font-kihim{font-family:"Kihim";}
.font-mono{font-family:"Fira Code","Fira Mono",ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
.font-outfit{font-family:"Outfit";}
.font-satoshi{font-family:"Satoshi";}
.font-tabular{font-family:"Tabular";}
.opacity-75{opacity:0.75;}
@media (min-width: 768px){
.md\:flex-row{flex-direction:row;}
}
@media (min-width: 1024px){
.lg\:flex-col{flex-direction:column;}
}