body {
  display: flex;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  height: 190vh;
  margin: 0;
  font-size: calc(0.3 * var(--m));

}

.accordion__wrapper {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 2.5rem;
  width: 100%;
  max-width: 60rem;
  padding: 5rem;
}

.accordion__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-title);
  text-align: center;
  margin-bottom: 4rem;
}

.accordion {
  border-bottom: 0.1rem solid var(--color-border);
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.accordion__icon {
  background-color: var(--color-primary);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-white);
  flex-shrink: 0;
}

.accordion__question {
  font-size: var(--fs-md);
  font-weight: var(--fw-medium);
  color: var(--color-title);
}

.accordion__answer {
  padding: 2rem 0;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  transition: var(--transition);
}

@media screen and (min-width: 580px) {
  .accordion__wrapper {
    padding: 5rem 8rem;
  }
}

:root {
  --color-primary: #FF4B4B;
  --color-text: #545d7a;
  --color-white: #fff;
  --color-title: #242e4c;
  --color-background: #f7f8fb;
  --color-border: #dae1f5;

  /* Fonts */
  --font-family: "Satoshi", sans-serif;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.2rem;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  /* Transition & Box Shadow */
  --transition: 0.4s ease-in-out;
  --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);

}











nav {
  top: 0;
  width: 90%;
  height: 6rem;
  display: flex;
  padding: 0 2rem;
  box-sizing: border-box;
}

.menu {

  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 5;
  font-size: var(--h);
}

.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 1;

  /*  where the real magic happens  */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  inset: -1rem 0;
}



canvas {
  position: relative;
  inset: 0;

  height: 100%;
}


.us-canvas {
  width: 100%;
  height: 50vh;
}



#cursor {
  position: absolute;
  z-index: 1;

  left: 50%;
  height: 50%;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  mix-blend-mode: difference;
}



#container {
  position: fixed;
  touch-action: none;
}

canvas {
  display: block;

}

@media screen and (max-width: 300px) {
  :root {
    --m: 3rem;
  }
}

@media screen and (max-width: 300px) {
  footer {
    flex-direction: column;
    padding: 5rem 20vw;
  }

  .col {
    width: 100%;
  }
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;

  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  mask-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 0, 0));

  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.8) 20%,
      rgba(0, 0, 0, 1) 30%,
      rgb(0, 0, 0));
}

h2 {
  font-weight: 500;
  text-align: center;
  font-size: var(--m);
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: calc(0.6 * var(--m));
  margin: 0;
}



button {
  background-color: #000;
  font-size: calc(0.4 * var(--m));
  border: none;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  padding: calc(0.35 * var(--m)) calc(0.8 * var(--m));
  border-radius: calc(0.3 * var(--m));
}


footer {
  z-index: 500;
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 1rem 2vw;
  position: relative;
}





.terminal-window {
  text-align: left;

  height: 360px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
}

.terminal-window section.terminal .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.terminal-data {
  display: none;
}

.terminal-window .gray {
  color: gray;
}

.terminal-window .green {
  color: green;
}

.card {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4px;
}

.card:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #E6E5E1;
}

.card:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #E6E5E1;
}

.card ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}

.card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #E6E5E1;
}

.card h2 {
  z-index: 99;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 130px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.card .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}

.card p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 70px;
  color: #333;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.card .pic {
  z-index: 100;
  width: 400px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
  background-size: 100% 100%;
  filter: grayscale(100%);
}

.card .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}

.card .social i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.card .social i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.card .social i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.card .social i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #DA4D1D;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}

.card button i {
  font-size: 3rem;
}

.card:hover button {
  transform: scale(16.5);
}

.card:hover p {
  color: #fff;
}

.card:hover .pic {
  filter: grayscale(0);
}

.card2 .pic {
  background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}

.card2 button {
  background-color: #2b26c3;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}